default:
    autoload:
        Context: '%paths.base%/features'
    suites:
        default:
            paths:
                features: '%paths.base%/features'
            contexts:
                - Context\GetAuthTokenContext
                - Context\GetAllDocumentsContext